*{
    margin: 0;
    box-sizing: border-box;
    z-index: 5;
}
html{
    height: 100%;
    background:  
		url("background.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment:fixed;
	background-position: top;
}
body{
    color:white;
    font-family:'Rubik', sans-serif;
    height: 100%;
}
button{
    border: 0px;
    
}
header{
    width: 100%;
    height: 100px;
    display: block;
    font-size: 50px;
    display: flex;
    justify-content: space-between;
    position:sticky;
    top:0;
}
form {
    border-radius: 10px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.3);
    padding: 40px;
    width: 400px;
    margin: auto;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;

}
input[type="text"], select, input[type="email"], input[type="password"],input[type="number"],  input::placeholder {
    padding: 10px;
    border-radius: 5px;
    border: none;
    width: 100%;
    box-sizing: border-box;
    background-color: #8a5c44;
    color: #ffffff;
    font-family:'Rubik', sans-serif;
    
}
h1{
    font-size: 45px;
}
h2{
    font-size: 15px;
}
a{
    color:#ffffff;
    text-decoration:none;
}
a:hover{
    color:rgba(255,255,255,0.5)
}
.header_fortable{
    position: relative;
}
.icon{
    display: block;
    width: 50px;
    height: 50px;
    margin: auto;
    margin-left: 40px;
}
.nav-button{
    display: block;
    font-size: 15px;
    text-align: center;
    margin-top: auto;
    margin-bottom: auto ;
    margin-right: 40px;
    
}
.content{
    width: 100%;
    height: 100%;
    padding: 0 5% 0 5% ;
    min-width: 780px;
    z-index: 1;
}
.content-in{
    height: 100%;
    display:flex;
    align-items:center;
    justify-content: space-between;
    color:aliceblue;
}
.flex_tf{
    display: block;
    width: 25%;
    margin-left: 10px;
    margin-right: 10px;
}
.block{
    display:block;
    min-width: 296px;
    padding-right: 50px;
    border-right: 3px solid wheat;
}
.cont_l{
    width:40%;
}
.img{
    min-width: 570px;
    min-height: 533px;
    width:60%;
    z-index: 1;
}
.storage{
    display: flex;
}
.profile-data{
    display: block;
    margin-top: 20px;
    width: 50%;
}
.head_block{
    margin-bottom: 10px;
}
.after-1{
    margin-bottom: 60px;
    max-width: 200px;
}
.form-footer-50{
    width: 25%;
}
.margin-1{
    margin-bottom: 20px;
}
.login-button{
    margin-top: 15px;
    background-color: #8a5c44;
	color: #e4dfdb;
    border-radius: 5px;
	cursor: pointer;
	transition: background-color 0.3s ease-in-out;
    padding: 10px 20px;
}
.edit{
    color:rgb(133, 102, 190);
}
.profile_name{
    padding-left: 35px;
    margin-left: auto;
    margin-right: auto;
}
.table-sup{
    width:100%;
}
.table-sup-1{
    width:25%;
}
#enter{
    font-size: 25px;
    margin-bottom: 15px;
}
