<!DOCTYPE html>

<head>
<title>ебанутый сайтюка</title>
<link rel="stylesheet" href="style.css">
</head>

<body>
<header>
    <img src="icon.png" class="icon" alt=" ">
    <button class="nav-button">
    sing up
    </button>
</header>
<div class="content">
    <div class="content-in">
        <div class="start">
            <p>
            hello is syte for automisation your coffe shop
            </p>
        </div>
            <img src="cofe.jpg" class="img">
        </div>
</div>
<footer>

</footer>
</header>
</body>

</html>