<!DOCTYPE html>

<head>
<title>ебанутый сайтюка</title>
<link rel="stylesheet" href="static/style.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap" rel="stylesheet">
</head>

<body>
<header>
    <img src="static/icon.png" class="icon" alt=" ">
    <a class="nav-button">
        для новых пользователей
    </a>
    <a class="nav-button">
        о том как начать с нами работать
    </a>
    <a class="nav-button">
        вход/регистрация
    </a>

</header>


<div class="content">
    <div class="content-in">
        <div class="cont_l">
            <div class="block">
                <div class="head_block">
                    <h1>
                    здраствуйте
                    </h1>
                </div>
                <div class="after-1">
                    <h2>этот сайт создан для упрощения работы между кофейная и поставщиками
                    </h2>
                </div>
                <div class="head_block">
                    <h1>
                    здраствуйте
                    </h1>
                </div>

                <div class="after-1">
                    <h2>этот сайт создан для упрощения работы между кофейная и поставщиками
                    </h2>
                </div>
            </div>
        </div>
        <img src="static/cofe.png" class="img">
    </div>
</div>


<footer>
</footer>

</body>

</html>