<table>
    <thead>
      <tr>
        <th>Категория</th>
        <th>Название</th>
        <th>Потребление за неделю</th>
        <th>Действия</th>
      </tr>
    </thead>
    <tbody>
      {% for el in products %}
      <tr>
        <td>{{ el.category }}</td>
        <td>{{ el.name }}</td>
        <td>{{ el.consumption_week }}</td>
        <td>
          <a href="/delete/{{ i }}">Удалить</a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  
  <form action="/add" method="post">
    <input type="text" name="category" placeholder="Категория">
    <input type="text" name="name" placeholder="Название">
    <input type="text" name="consumption_week" placeholder="Потребелние за неделю">
    <button type="submit">Добавить</button>
  </form>
  