<!DOCTYPE html>

<head>
<title>ебанутый сайтюка</title>
<link rel="stylesheet" href="static/style.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap" rel="stylesheet">
</head>

<body>
<header>
    <img src="static/icon.png" class="icon" alt=" ">
    <a class="nav-button">
        для новых пользователей
    </a>
    <a class="nav-button">
        о том как начать с нами работать
    </a>
    <img src="static/profile.png" class="nav-button" alt=" ">
</header>
<div class="content">
    <div class="storage">
        <h2 class="profile-data">
            имя:
        </h2>
        <h2 class="profile-data">
            usname
        </h2>
    </div>
    <div class="storage">
        <h2 class="profile-data">
            тип аккаунта:
        </h2>
        <h2 class="profile-data">
            поставщик
        </h2>
    </div>
    <table>
    <div class="edit">
        <a href="dokument/adres.pdf" download="">скачать накладную</a>
    </div>
    </table>
</div>
</body>
</html>