<!DOCTYPE html>

<head>
<title>autocoffe</title>
<link rel="stylesheet" href="static/style.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap" rel="stylesheet">
</head>

<body>
    <header>
        <a href="http://127.0.0.1:5000" class="icon"><img src="static/icon.png" class="icon" alt=" "></a>
        <a class="nav-button">
            для новых пользователей
        </a>
        <a class="nav-button">
            о том как начать с нами работать
        </a>
        {% if logged %}
            <div class="nav-button">
            <a class="profile_name" href= {{account_link}}>
            <img src="static/profile.png" class="icon">
            <p class="profile_name">
            {{user.name}}
            </p>
            </a>
            
            </div>
        {% else %}
            <a href="login_ex" class="nav-button">
                вход/регистрация
            </a>
        {% endif %}
    
    </header>
<div class="content">
    <div class="storage">
        <h2 class="profile-data">
            имя:
        </h2>
        <h2 class="profile-data">
            {{user.name}}
        </h2>
    </div>
    <div class="storage">
        <h2 class="profile-data">
            тип аккаунта:
        </h2>
        <h2 class="profile-data">
            управляющий
        </h2>
    </div>
    <div class="storage">
        <h2 class="profile-data">
            Кофейня:
        </h2>
        <h2 class="profile-data">
            <input type="text" id="cofee-shop-input" value=" {{ user.cofee_shop }}">
        </h2>
    </div>
    <div class="edit">
        <input class="login-button" type="button" value="создать накладную">
        <input class="login-button" type="button" value="редактировать черновик">
        <input class="login-button" id="save-btn" type="button" value="Сохранить настройки">
        <a href="login_ex">
        <input class="login-button" href="login_ex" id="exit" type="button" value="выйти из аккаунта">
        </a>
    </div>
</div>

<script>
    const saveBtn = document.getElementById('save-btn');
    saveBtn.addEventListener('click', function() {
      const xhr = new XMLHttpRequest();
      const url = '/update_user_data';
      const data = JSON.stringify({'cofee-shop': document.getElementById('cofee-shop-input').value});
  
      xhr.open('POST', url);
      xhr.setRequestHeader('Content-Type', 'application/json');
  
      xhr.onload = function() {
        if (xhr.status === 200) {
          alert('Данные обновлены');
        } else {
          alert('Произошла ошибка.');
        }
      };
  
      xhr.send(data);
    });
  </script>

</body>
</html>