<!DOCTYPE html>

<head>
<title>ебанутый сайтюка</title>
<link rel="stylesheet" href="static/style.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap" rel="stylesheet">
</head>

<body>
    <header>
        <a href="http://127.0.0.1:5000" class="icon"><img src="static/icon.png" class="icon" alt=" "></a>
        <a class="nav-button">
            для новых пользователей
        </a>
        <a class="nav-button">
            о том как начать с нами работать
        </a>
        {% if logged %}
            <div class="nav-button">
            <a class="profile_name" href= {{account_link}}>
            <img src="static/profile.png" class="icon">
            <p class="profile_name">
            {{user.name}}
            </p>
            </a>
            
            </div>
        {% else %}
            <a href="login_ex" class="nav-button">
                вход/регистрация
            </a>
        {% endif %}
    
    </header>
<div class="content">
    <div class="storage">
        <h2 class="profile-data">
            имя:
        </h2>
        <h2 class="profile-data">
            {{user.name}}
        </h2>
    </div>
    <div class="storage">
        <h2 class="profile-data">
            тип аккаунта:
        </h2>
        <h2 class="profile-data">
            закупщик
        </h2>
    </div>
    <table>
    <div class="edit">
        <input class="login-button" type="button" value="просмотреть накладную">
        <input class="login-button" type="button" value="отправить закупщикам">
    </div>
    </table>

    <table class="table-sup">
        <tbody class="table-sup-1">
        <!-- <tr>
        <td>
            <p>кофейня</p>
        </td>
        <td>
            <p>дата</p>
        </td>
        <td>
            <p>Редактировать</p>
        </td>
        <td>
            <p>Отправить</p>
        </td>
        </tr> -->
        <tr>
            <td><a>кофейня</a></td>
            <td><a>дата</a></td>
            <td><a>Редактировать</a></td>
            <td><a>Отправить</a></td>
        </tr>
        {% for row in files_data %}
        <tr>
            <td>{{ row[0] }}</td>
            <td>{{ row[1] }}</td>
            <td><a class="edit" href="" download="">скачать накладную</a></td>
            <td>{{ send }}</td>
        </tr>
        {% endfor %}
        <tr>
            <td> 
            </td>
            <td>
            </td>
            <td>
                    <a class="edit" href="dokument/adres.pdf" download="">скачать накладную</a>
            </td>
            <td>
            </td>
        </tr>
        <tbody>
    </table>
    <a href="login_ex">
        <input class="login-button" href="login_ex" id="exit" type="button" value="выйти из аккаунта">
        </a>
</div>
</div>
</body>
</html>