<table>
    <thead>
      <tr>
        <th>Продукт</th>
        <th>Номенклатура</th>
        <th>Поставщик</th>
        <th>Действия</th>
      </tr>
    </thead>
    <tbody>
      {% for el in suppliers %}
      <tr>
        <td>{{ el.product }}</td>
        <td>{{ el.nomenclature }}</td>
        <td>{{ el.supplier }}</td>
        <td>
          <a href="/delete/{{ i }}">Удалить</a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  
  <form action="/add" method="post">
    <input type="text" name="category" placeholder="Продукт">
    <input type="text" name="name" placeholder="Номенклатура">
    <input type="text" name="supplier" placeholder="Поставщик">
    <button type="submit">Добавить</button>
  </form>
  